<div class = "main info">
    <div class = "container">
        <div class = "regularschedule">
            <div class="form-heading">定型予定</div>
            <div class = "regularschedule_form select">
                <% if @regular_schedules.present? %>
                    <% @regular_schedules.each do |schedule| %>
                        <div class = "show-regularschedule-inline-fields regularschedule-inline-fields">

                            <div class = "show-regularschedule-title-field regularschedule-title-field">
                                <div class = "show-regularschedule-number regularschedule-number"> <%= schedule.number %></div>
                                <div class = "show-regularschedule-name"> <%= schedule.name %> </div>
                            </div>

                            <div class = "show-regularschedule-times-field regularschedule-times-field">
                                <div class = "show-regularschedule-starttime" >
                                    <p> 開始時刻 </p> 
                                    <p><%= "#{schedule.start_hour}:#{format('%02d', schedule.start_minute)}" %></p>
                                </div>

                                <div class = "show-regularschedule-days" >
                                    <p> X日間 </p> 
                                    <p> <%= schedule.days %> </p>
                                </div>

                                <div class = "show-regularschedule-finishtime" >
                                    <p> 終了時刻 </p>
                                    <p><%= "#{schedule.finish_hour}:#{format('%02d', schedule.finish_minute)}" %></p>
                                </div>
                            </div>

                            <div class = "show-regularschedule-event regularschedule-event">
                                <p><%= schedule.event %><p>
                            </div>

                            <div class = "show-regularschedule-button-field regularschedule-button-field">

                                <%= link_to edit_regularschedule_path(schedule) do %>
                                    <div class = "show-regularschedule-edit common-button">変更</div>
                                <% end %>

                                <%= link_to regularschedule_path(schedule), method: :delete, data: { confirm: '本当に削除しますか？' } do %>
                                    <div class = "show-regularschedule-destroy common-button">削除</div>
                                <% end %>
                            </div>

                        </div>
                    <% end %>
                    <% else %>
                        <p>スケジュールがありません</p>
                    <% end %>

                <div class = "show-regularschedule-add-field">
                    <%= link_to new_regularschedule_path do %>
                        <div class = "show-regularschedule-add common-button">追加</div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
