<div class = "main info">
    <div class = "container">
        <div class = "regularschedule">
            <div class="form-heading">シフトパターン</div>
            <div class = "regularschedule_form select">
                <% if @regular_schedules.present? %>
                    <% @regular_schedules.each do |schedule| %>
                        <div class = "show-regularschedule-inline-fields">
                            <div class = "name"> 
                                <p>シフトパターン番号　> <%= schedule.number %></p>
                                <p>名前 > <%= schedule.name %></p>
                            </div>

                            <div class = "starttime" >
                                <p>開始時刻 > <%= "#{schedule.start_hour}:#{format('%02d', schedule.start_minute)}" %></p>
                            </div>

                            <div class = "days" >
                                <p>X日間 > <%= schedule.days %></p>
                            </div>

                            <div class = "finishtime" >
                                <p> 終了時刻 > <%= "#{schedule.finish_hour}:#{format('%02d', schedule.finish_minute)}" %></p>
                            </div>

                            <div class = "event">
                                <p>説明 > <%= schedule.event %><p>
                            </div>

                            <div class = "event">
                                <p>ユーザー名 > <%= schedule.user_id %><p>
                            </div>

                            <div class="destroy">
                                <%= link_to '削除', regular_schedule_path(schedule), method: :delete, data: { confirm: '本当に削除しますか？' } %>
                            </div>

                        </div>
                    <% end %>
                <% else %>
                    <p>シフトパターンがありません</p>
                <% end %>

                <div class = "common-botton">
                    <a href = "/regular_schedules/<%= @current_user.id %>/new">追加</a>
                </div>
            </div>
        </div>
    </div>
</div>