<script type="module" src="path/to/your/script.js"></script>

<div class = "main edit">
    <div class = "container">
        <div class = "regularschedule">
            <div class="form-heading">定型予定編集</div>
            <div class = "schedule_form select">
                <% if @error_message %>
                    <div class = "form-error">
                        <%= @error_message %>
                    </div>
                <% end %>
                <%= form_with model: @regularschedule, url: regular_schedule_path(@regularschedule), method: :patch, data: { turbo: false } do |f| %>
                    <div class = "schedule-inline-fields">
                        <div class = "schedule-title-field">
                            <div>
                                <%= f.label :name, "名前※必須" %>
                            </div>
                            <div>
                                <%= f.text_field :name, class: 'name-field' %>
                            </div>
                        </div>

                        <div class = "schedule-times-field">

                            <div class = "schedule-starttime">
                                <div class = "schedule-starttime-title">
                                    <%= f.label :start_time, "開始時刻", class: 'starttime' %>
                                </div>
                                <div class = "schedule-starttime-field">
                                    <%= f.time_select :start_time, class: 'time-field' %>
                                </div>
                            </div>

                            <div class = "schedule-days">
                                <div>
                                    <%= f.label :days, "何日間ですか？", class: 'days' %>
                                </div>
                                <div>
                                    <%= f.number_field :days, class: 'select-day-field', min: 1%>
                                </div>
                            </div>

                            <div class = "schedule-finishtime">
                                <div class = "schedule-finishtime-title">
                                    <%= f.label :finish_time, "終了時刻", class: 'finishtime' %>
                                </div>
                                <div class = "schedule-finishtime-field">
                                    <%= f.time_select :finish_time, class: 'time-field' %>
                                </div>
                            </div>
                        </div>

                        <div class = "schedule-event">
                            <%= f.label :event, "説明", class: 'schedule-event-title' %>
                            <div class = "schedule-event-field">
                            <%= f.text_field :event, class: 'schedule-event-text-field' %>
                        </div>

                        <div class = "no-underline schedule-button-field">
                            <%= f.submit "変更", class: 'common-button' %>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class = "schedule-button-field">
                <%= link_to regular_schedules_path, class: 'back-button common-button' do %>
                    戻る
                <% end %>
            </div>
        </div>
    </div>
</div>