<div class = "main">
    <div class ="container">
        <div class ="form-heading">新規登録</div>
        <div class = "form users-form">
            <% if @user && @user.errors.any? %>
                <%= @user.errors.full_messages.each do |message|%>
                    <div class = "form-error">
                        <%= message %>
                    </div>
                <% end %>
            <% end %>
            
            <div class = "form-body">
                <%= form_tag("/users/create")do  %>
                    <p>ユーザー名</p>
                    <input name = "name" value = "<%= @user.name%>">
                    <p>メールアドレス</p>
                    <input name = "email" value = "<%= @user.email%>">
                    <p>パスワード</p>
                    <input name ="password" type = "password">
                    <input type = "submit" value = "登録">
                <% end %>
            </div>
        </div>
    </div>
</div>