<div class = "main authenticate" >
    <div class ="container">
        <div class ="form-heading">ユーザー認証</div>
        <div class = "form users-form">

            <% if @user && @user.errors.any? %>

                <%= @user.errors.full_messages.each do |message|%>

                    <div class = "form-error">
                        <%= message %>
                    </div>

                <% end %>
            <% end %>
            
            <div class = "form-body">

                <%= form_with url: authenticate_user_path(@user), method: :post do |f| %>

                    <%= f.label :password, "パスワード", class: 'authenicate-title authenicate-forms' %>
                    <%= f.password_field :password, class: 'authenicate-form authenicate-forms' %>
                    <%= f.submit "認証", class: 'authenicate-submit authenicate-forms common-button' %>
                    
                <% end %>
            </div>
        </div>
    </div>
</div>