<div class="main users-edit">
  <div class="container">
    <div class="form-heading">ユーザー編集</div>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class = "form-error">
            <%= @error_message %>
          </div>
        <% end %>
        <%= form_with model: @user, url: user_path(@user), multipart: true, data: { turbo: false } do |f| %>
          <%= f.label "ユーザー名", class: 'edit-user-username-title edit-user-forms' %>
          <%= f.text_field :name, class: 'edit-user-username edit-user-forms' %>
          <%= f.label "メールアドレス", class: 'edit-user-mail-title edit-user-forms' %>
          <%= f.email_field :email, class: 'edit-user-mail edit-user-forms' %>
          <%= f.label "新パスワード※必須", class: 'edit-user-password-title edit-user-forms' %>
          <%= f.password_field :password, class: 'edit-user-password edit-user-forms' %>
          <%= f.submit "保存", class: 'edit-user-submit edit-user-forms common-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>