<div class = "main">
    <div class ="container">
        <div class ="form-heading">ログイン</div>
        <div class = "form users-form">
            <div class = "user-forms">
                <% if @error_message %>
                    <div class = "error-message">
                        <%= @error_message %>
                    </div>
                <% end %>

                <%= form_with url: "/login", method: :post, multipart: true, data: { turbo: false }, local: true do |f| %>
                    <div>メールアドレス※必須</div>
                    <div class="user-form">
                        <%= f.text_field :email, value: @email, name: "email", class: "user-form-field" %>
                    </div>

                    <div>パスワード※必須</div>
                    <div class="user-form">
                        <%= f.password_field :password, name: "password", class: "user-form-field" %>
                    </div>

                    <div class="schedule-button-field">
                        <%= link_to "/", class: 'back-button common-button' do %>
                        戻る
                        <% end %>
                        <%= f.submit "ログイン", class: "common-button" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>