<script type="module" src="path/to/your-script.js"></script>
<div class = "main edit">
    <div class = "container">
        <div class = "schedule">
            <div class="form-heading">予定変更</div>
            <% if @error_message %>
                <div class = "form-error">
                    <%= @error_message %>
                </div>
            <% end %>
            <div class = "schedule_form select">
                <%= form_with model: @schedule, url: schedule_path(@schedule), method: :patch, data: { turbo: false } do |f| %>
                    <div class = "schedule-inline-fields">
                        <div>
                            <p><%= f.label :name, "名前" %></p>
                            <p><%= f.text_field :name, class: 'name-field' %></p>
                        </div>

                        <div>
                            <p><%= f.label :start_time, "開始日時", class: 'startdate' %></p>
                            <p><%= f.datetime_select :start_time, class: 'time-field' %></p>
                        </div>

                        <div>
                            <p><%= f.label :end_time, "終了日時", class: 'finishdate' %></p>
                            <p><%= f.datetime_select :end_time, class: 'time-field' %></p>
                        </div>

                        <div>
                            <p><%= f.label :event, "説明", class:'event' %></p>
                            <p><%= f.text_field :event, class: 'event-field' %></p>
                        </div>
                    </div>
                    <div class = "button-field">
                        <%= f.submit "保存", class: 'common-button' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>