<div class = "main new">
    <div class = "container">
        <div class="form-heading">新規予定</div>
            <% if @error_message %>
                <div class="error-message">
                <%= @error_message %>
                </div>
            <% end %>
            <%= form_with model: @schedule, url: schedules_path, data: { turbo: false } do |f| %>
                <div class = "schedule-inline-fields">
                    <div class = "schedule-title-field">
                        <div class = "schedule-title-label-field">
                            <%= f.label :name, "名前※必須" %>
                        </div>
                        <%= f.text_field :name, class: 'name-field' %>
                    </div>
                    <div class = "main-schedule-times-field">
                        <div class = "main-schedule-title">
                            <%= f.label :start_time, "期間", class: 'schedule-title' %>
                        </div>
                        <div class = "main-schedule-start_time">
                            <%= f.datetime_select :start_time, default: @date ? @date.to_datetime : Time.current, class: 'time-field' %>
                        </div>
                        <div>~</div>
                        <div class = "main-schedule-end_time">
                            <%= f.datetime_select :end_time, default: @date ? @date.to_datetime : Time.current, class: 'time-field' %>
                        </div>
                    </div>
                    <div class = "schedule-event">
                        <div>
                            <%= f.label :event, "説明", class:'schedule-title' %>
                        </div>
                        <%= f.text_field :event, class: 'schedule-event-text-field' %>
                    </div>
                    <div class = "schedule-button-field">
                        <%= f.submit "追加", class: 'common-button' %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class = "schedule-button-field">
            <%= link_to show_by_date_schedules_path(date: @date), class: 'back-button common-button' do %>
                戻る
            <% end %>
        </div>
    </div>
</div>