<div class = "main info">
    <div class = "container">
        <div class = "schedule">
            <div class="form-heading">予定</div>
            <% if @error_message %>
                <div class = "form-error">
                    <%= @error_message %>
                </div>
            <% end %>
            <div class = "scheduleday">
                <%= @date %>
            </div>
            <div class = "schedule_form select">
                <% if @schedules.present? %>
                    <div class = scheduledate>
                        <% @date %>
                    </div>
                    <% @schedules.each do |schedule| %>
                        <div class = "inline-fields">
                            <div class = "name"> 
                                <p>名前 > <%= schedule.name %></p>
                            </div>
                            <div class = "starttime" >
                                <p>開始日付 > <%= "#{schedule.start_time.strftime("%m/%d") }" %></p>
                            </div>
                            <div class = "starttime" >
                                <p>開始時刻 > <%= "#{schedule.start_time.strftime("%H:%M") }" %></p>
                            </div>
                            <div class = "endtime" >
                                <p> 終了日付 > <%= "#{schedule.end_time.strftime("%m/%d") }" %></p>
                            </div>
                            <div class = "endtime" >
                                <p> 終了時刻 > <%= "#{schedule.end_time.strftime("%H:%M") }" %></p>
                            </div>
                            <div class = "event">
                                <p>説明 > <%= schedule.event %><p>
                            </div>
                            <div class = "event">
                                <p>ユーザー名 > <%= schedule.user_id %><p>
                            </div>
                            <div class = "event">
                                <p>定型予定 > <%= schedule.number %><p>
                            </div>
                            <div class="schedule_edit edit">
                                <%= link_to '編集', edit_schedule_path(schedule) %>
                            </div>
                            <div class="schedule_destory destroy">
                                <%= link_to '削除', schedule_path(schedule), method: :delete, data: { confirm: '本当に削除しますか？' } %>
                            </div>
                        </div>
                    <% end %>
                    <% else %>
                        <p>スケジュールがありません</p>
                    <% end %>

                <%= link_to '追加',new_schedule_path(date: @date) %>
                <% @date %>
            </div>
        </div>
    </div>
</div>