<div class = "main info">
    <div class = "container">
        <div class="form-heading">予定</div>
        <% if @error_message %>
            <div class = "form-error">
                <%= @error_message %>
            </div>
        <% end %>
        <div class = "scheduleday">
            <%= @date %>
        </div>
        <% if @schedules.present? %>
            <% @schedules.each do |schedule| %>
                <div class  = "schedule-inline-fields">
                    <div class = "schedule-title-field">
                        <div class = "schedule-title-label-field">
                            <%= schedule.name %>
                        </div>
                    </div>
                    <div class = "main-schedule-times-field">
                        <div class = "main-schedule-times">
                            <div class = "schedule-title">期間</div>
                            <%= schedule.start_time.strftime('%Y-%m-%d %H:%M') + " ~ " +schedule.end_time.strftime('%Y-%m-%d %H:%M') %>
                        </div>
                    </div>
                    <div class = "schedule-event">
                        <div class = "schedule-title">説明</div>
                        <p><%= schedule.event || "-" %><p>
                    </div>
                    <div class = "schedule-button-field">
                        <%= link_to edit_schedule_path(schedule, date: @date), class: 'common-button' do %>
                            編集
                        <% end %>
                        <%= link_to schedule_path(schedule), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'common-button' do %>
                            削除
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% else %>
            <p>スケジュールがありません</p>
        <% end %>
        <div class = "schedule-button-field">
            <%= link_to home_path, class: 'common-button' do %>
                戻る
            <% end %>
            <%= link_to new_schedule_path(date: @date), class: 'common-button' do %>
                追加
            <% end %>
        </div>
    </div>
</div>