<div class = "main info">
    <div class = "container">
        <div class = "schedule">
            <div class="form-heading">予定</div>
            <% if @error_message %>
                <div class = "form-error">
                    <%= @error_message %>
                </div>
            <% end %>
            <div class = "scheduleday">
                <%= @date %>
            </div>
            <div class = "schedule_form select">
                <% if @schedules.present? %>
                    <div class = scheduledate>
                        <% @date %>
                    </div>
                    <% @schedules.each do |schedule| %>
                        <div class = "schedule-inline-fields">
                            <div class = "schedule-title-field">
                                <div class = "schedule-name"> 
                                    <%= schedule.name %>
                                </div>
                            </div>
                            <div class = "schedule-times-field">
                                <div class = "starttime" >
                                    <p>開始日時</p>
                                    <p><%= "#{schedule.start_time.strftime("%m/%d %H:%M") }" %></p>
                                </div>
                                <div class = "endtime" >
                                    <p> 終了日時 </p>
                                    <p><%= "#{schedule.end_time.strftime("%m/%d %H:%M") }" %></p>
                                </div>
                            </div>
                            <div class = "schedule-event">
                                <p>説明</p>
                                <p><%= schedule.event %><p>
                            </div>
                            <div class = "button-field">
                                <%= link_to edit_schedule_path(schedule), class: 'common-button' do %>
                                    <div class = "text" >編集</div>
                                <% end %>
                                <%= link_to schedule_path(schedule), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'common-button' do %>
                                    <div class = "text" >削除</div>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                    <% else %>
                        <p>スケジュールがありません</p>
                    <% end %>
                <div class = "button-field">
                    <%= link_to new_schedule_path(date: @date), class: 'common-button' do %>
                        <div class = "text">追加</div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>