<div class = "calendar main">

  <tbody>
    <%= month_calendar do |date| %>
      <span class="day-number"><%= date.day %></span>
  
        <% @shiftnumber = Shift.where(user_id: current_user.id)
                                .where("DATE(date) = ?", date) %>

        <% if @shiftnumber.present? %>

          <% @shiftnumber.each do |event| %>

            <div class="event">

              <%= event.number || "-" %>
            </div>
          <% end %>

        <% else %>

          <p>?</p>

        <% end %>
    <% end %>
  </tbody>

  <tfoot>
    <tr>

      <td class = "shiftselect">

       <% @month_shifts = Shift.where(user_id: current_user.id, date: @date.beginning_of_month..@date.end_of_month) %>

        <% if @month_shifts.present? %>

          <%= link_to "編集", edit_shift_path(@shift,start_date: @date.to_s), class: "btn-edit" %>
          <%= link_to "削除", destroy_month_shifts_path(start_date: @month_shifts.first.date.beginning_of_month.to_s), 
                      method: :delete,
                      class: "btn-destroy", 
                      data: { confirm: "この月のシフトを削除しますか？"} %>

        <% else %>

          <%= link_to "新規", new_shift_path(start_date: @date.to_s) %>

        <% end %>
      </td>
    </tr>
  </tfoot>
</div>