<div class = "calendar main">

  <tbody>
    <%= month_calendar do |date| %>
      <span class="day-number"><%= date.day %></span>
  
        <% @shiftnumber = Shift.where(user_id: current_user.id)
                                .where("DATE(date) = ?", date) %>

        <% if @shiftnumber.present? %>
          <% @shiftnumber.each do |event| %>
            <div class="event">
              <%= event.number || "-" %>
            </div>
          <% end %>
        <% else %>
          <p>?</p>
        <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td class = "shiftnew">
        <%= link_to "新規", new_shift_path %>
      </td>
      <td class = "shiftedit">
        <% if @shiftnumber.present? %>
          <%= link_to "編集", edit_shift_path(@shift), class: "btn-edit" %>
          <%= link_to "削除", destroy_month_shifts_path(date: @shiftnumber.first.date.beginning_of_month.to_s), 
                      method: :delete,
                      class: "btn-destory", 
                      data: { confirm: "この月のシフトを削除しますか？"} %>
        <% else %>
        <p>追加してください</p>
        <% end %>
      </td>
    </tr>
  </tfoot>
</div>