<div class = "calendar main">

  <tbody>
    <%= month_calendar do |date| %>
      <span class="day-number"><%= date.day %></span>
  
        <% @shiftcode = Schedule.where(user_id: current_user.id)
                                .where("DATE(start_time) = ?", date) %>

        <% if @shiftcode.present? %>
          <% @shiftcode.each do |event| %>
            <div class="event">
              <%= event.number || "-" %>
            </div>
          <% end %>
        <% else %>
          <p>?</p>
        <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td class = "shiftnew">
        <%= link_to "新規", new_shift_path %>
      </td>
      <td class = "shiftnew">
        <% if @shift.present? %>
          <%= link_to "編集", edit_shift_path(@shift) %>
        <% else %>
        <p>追加してください</p>
        <% end %>
      </td>
    </tr>
  </tfoot>
</div>