<div class = "main new">
    <div class = "container">
        <div class = "regularschedule">
            <div class="form-heading">新規定型予定</div>
            <div class = "regularschedule_form select">
                <%= form_with model: @regularschedule, url: regularschedules_path do |f| %>
                    <div class = "inline-fields">
                        <div>
                            <%= f.label :name, "名前" %>
                            <%= f.select :number, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]], include_blank: "定型予定コードを選択", class: 'select-field' %>
                            <%= f.text_field :name, class: 'name-field' %>
                        </div>

                        <div>
                            <%= f.label :start_time, "開始時刻", class: 'starttime' %>
                            <%= f.time_select :start_time, class: 'time-field' %>
                        </div>

                        <div>
                            <%= f.label :days, "X日間", class: 'days' %>
                            <%= f.select :days, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]], include_blank: "何日間ですか？", class: 'selectday-field' %>
                        </div>

                        <div>
                            <%= f.label :finish_time, "終了時刻", class: 'finishtime' %>
                            <%= f.time_select :finish_time, class: 'time-field' %>
                        </div>

                        <div>
                            <%= f.label :event, "説明", class:'event' %>
                            <%= f.text_field :event, class: 'event-field' %>
                        </div>

                        <div>
                            <%= f.submit "保存", class: 'submit-bottom' %>
                        </div>
                <% end %>
            </div>
        </div>
    </div>
</div>