<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Calendar App V 1" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application', type: 'module', 'data-turbo-track': 'reload', defer: true %>
  </head>
  <body>
    <header>
      <div class = "header-menus">
        <ul>
          <% if @current_user %>
            <li>
              <%= link_to 'カレンダー', "/home" %>
            </li>
            <li>
              <%= link_to @current_user.name, user_path(@current_user.id) %>
            </li>
            <li>
              <%= link_to '定型予定', regular_schedules_path %>
            </li>
            <li>
              <%= link_to 'シフト入力', shifts_path %>
            </li>
            <li>
              <%= link_to 'ログアウト', "/logout" %>
            </li>
          <% else %>
            <li>
              <%= link_to '新規登録', "/signup" %>
            </li>
            <li>
              <%= link_to 'ログイン', "/login" %>
            </li>
          <% end %>
        </ul>
      </div>
    </header>
   
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
