<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Calendar App V 1" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application', type: 'module', 'data-turbo-track': 'reload', defer: true %>
  </head>
  <body>
  <header>
    <div class="header">
      <div class="mobile-header">
        <div><strong>MyApp</strong></div>
        <button class="menu-toggle" onclick="toggleMenu()">â˜°</button>
      </div>

      <div class="header-menus">
        <ul id="nav-menu">
          <% if @current_user %>
            <li><%= link_to 'ã‚«ãƒ¬ãƒ³ãƒ€ãƒ¼', "/home" %></li>
            <li><%= link_to @current_user.name, user_path(@current_user.id) %></li>
            <li><%= link_to 'ã‚·ãƒ•ãƒˆãƒ‘ã‚¿ãƒ¼ãƒ³', regular_schedules_path %></li>
            <li><%= link_to 'ã‚·ãƒ•ãƒˆå…¥åŠ›', shifts_path %></li>
            <li><%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', "/logout" %></li>
          <% else %>
            <li><%= link_to 'æ–°è¦ç™»éŒ²', "/signup" %></li>
            <li><%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', "/login" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>

  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <!-- ðŸŸ¢ mainã‚’ã“ã“ã«è¿½åŠ  -->
  <main class="main">
    <%= yield %>
  </main>

  <script>
    let isOpen = false;
    function toggleMenu() {
      const menu = document.getElementById("nav-menu");
      const toggleButton = document.querySelector(".menu-toggle");
      menu.classList.toggle("show");
      isOpen = !isOpen;
      toggleButton.textContent = isOpen ? "âœ—" : "â˜°";
    }
  </script>
</body>
</html>
